@import "components/reset.css";
@import "components/screens/friend.css";
@import "components/status-bar.css";
@import "components/screens/friend2.css";

@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
body {
    font-family: Rajdhani display swap;
}

.welcome-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.welcome-header__title{

    font-size: 25px;
    margin-bottom: 25px;

}

.welcome-header__text {
    color: gray;
    width: 50%;
    text-align: center;
}
.log-from {
    border: none;
    display: flex;
    flex-direction: column;
}
.log-from__text {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    
}
.log-from__password {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.log-from__login {
  justify-content: center;
  margin-bottom: 10px;
  height: 40px;
    color: black;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
  background-color: yellow;
  margin-left: 5px;
  margin-right: 5px;
}
.log-from__signup {
    justify-content: center;
  margin-bottom: 10px;
    height:40px;
  color: black;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
  margin-left: 5px;
  margin-right: 5px;
}
.log-from__href {
    text-align: center;
    color: black;    
}