.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
        display: flex;
        justify-content: space-between;
        margin: 5px;
    
}

.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link{
    position: relative;
    color: black;
}
.nav__btn {
    color: black;
}

.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.screen-header__title{
 font-size: 32px;
 font-weight: 600;
}
.screen-header__span{
    margin-left:50px;
    color: black;
}
